<div class="row center"><h3 style="font-family:'Amatic Sc'; font-weight: bold; color:#e65100;">My Super Awesome Madlib</h3></div>


<div class="row">
  <form class="col s6 offset-s3">
      <div class="input-field">
        <input  id="noun" type="text" class="validate">
        <label for="noun">Noun</label>
      </div>
      <div class="input-field">
        <input id="verb" type="text" class="validate">
        <label for="verb">Verb</label>
      </div>
      <div class="input-field">
        <input id="adjective" type="text" class="validate">
        <label for="adjective">Adjective</label>
      </div>
      <div class="input-field">
        <input id="plural" type="text" class="validate">
        <label for="plural">Plural Noun</label>
      </div>
      <div class="input-field">
        <input id="classmate" type="text" class="validate">
        <label for="classmate">Name of Classmate</label>
      </div>
      <div class="input-field">
        <input id="ta" type="text" class="validate">
        <label for="ta">Name of TA</label>
      </div>

      <div class="row"><div class="center-align"><button class="btn waves-effect waves-light">Submit<i class="material-icons right">send</i></button></div></div>
  </form>
</div>
