<nav>
  <div class="nav-wrapper deep-purple darken-1">
          <a class="brand-logo">MAD LIBS</a>

        <ul id="nav-mobile" class="right">
          <li>
            <a ng-href="#/search"><i class="material-icons left">view_module</i>Pick Topic</a></li>
          <li>
            <a ng-href="#/watchlist"><i class="material-icons left">mode_edit</i>Random Topic</a></li>
          <li >
            <a ng-href="#/logout"><i class="material-icons left">perm_identity</i>Logout</a></li>
          <li>
            <a ng-href="#/login"><i class="material-icons left">perm_identity</i>Login</a></li>
        </ul>
  </div>
</nav>
