<nav ng-controller="navCtrl">
  <div class="nav-wrapper deep-purple darken-1">
          <a class="brand-logo">MAD LIBS</a>

        <ul id="nav-mobile" class="right">
          <li>
            <a ng-href="#/select"><i class="material-icons left">view_module</i>Select A Lib</a></li>
          <li>
            <a ng-href="#/input"><i class="material-icons left">mode_edit</i>Random Topic</a></li>
          <li ng-show="userIsLoggedIn">
            <a ng-href="#/logout"><i class="material-icons left">perm_identity</i>Logout</a></li>
          <li>
            <a ng-href="#/login"><i class="material-icons left">perm_identity</i>Login</a></li>
        </ul>
  </div>
</nav>
